<a href="https://colab.research.google.com/github/glenmiracle18/Glen-s-repo/blob/main/Handling_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series([1, 2, np.nan, np.nan, 4])

In [ ]:
pd.notnull(s)

0     True
1     True
2    False
3    False
4     True
dtype: bool

In [ ]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [ ]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

In [ ]:
#Pandas operations with missing data

In [ ]:
#when using numpy, nans will no longer behave as "viruses", and operations will just ignore
# them completely:

In [ ]:
pd.Series([1, 2, np.nan]).count()

2

In [ ]:
pd.Series([1, 2, np.nan]).sum()

3.0

In [ ]:
pd.Series([1, 2, np.nan]).mean()

1.5

In [ ]:
s = pd.Series([1, 2, 3, np.nan, np.nan, np.nan, 4])

In [ ]:
pd.isnull(s)

0    False
1    False
2    False
3     True
4     True
5     True
6    False
dtype: bool

In [ ]:
pd.isnull(s).sum()

3

In [ ]:
pd.isnull(s).count()

7

In [ ]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
pd.notnull(s).count()
#.count() simply just count the number of available values

7

In [ ]:
pd.notnull(s).sum()

4

In [ ]:
s[pd.notnull(s)]

0    1.0
1    2.0
4    4.0
dtype: float64

In [ ]:
s[pd.isnull(s)]

3   NaN
4   NaN
5   NaN
dtype: float64

In [ ]:
#but also notnull() and isnull() are also methods
#of numpy Series and DataFrame, so we could use it that way

In [ ]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5     True
6    False
dtype: bool

In [ ]:
s.notnull()

0     True
1     True
2     True
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
s[s.notnull()]

0    1.0
1    2.0
4    4.0
dtype: float64

In [ ]:
s

0    1.0
1    2.0
2    NaN
3    NaN
4    4.0
dtype: float64

In [ ]:
s.dropna()

0    1.0
1    2.0
4    4.0
dtype: float64

In [ ]:
s

0    1.0
1    2.0
2    NaN
3    NaN
4    4.0
dtype: float64

In [ ]:
# s = s.dropna()

In [ ]:
s

0    1.0
1    2.0
2    NaN
3    NaN
4    4.0
dtype: float64

In [ ]:
#Dropping null values from a dataframe

In [ ]:
df = pd.DataFrame({
     'Column A': [1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],
})

In [ ]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [ ]:
df.shape

(4, 4)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column A  2 non-null      float64
 1   Column B  3 non-null      float64
 2   Column C  3 non-null      float64
 3   Column D  4 non-null      int64
dtypes: float64(3), int64(1)
memory usage: 256.0 bytes

In [ ]:
#the dafault dropna will drop the rows
df.dropna()

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [ ]:
#you can now assign the axis
df.dropna(axis=1)

   Column D
0         5
1         8
2        34
3       110

In [ ]:
df2 = pd.DataFrame({
    'Column A': [1, np.nan, 30],
    'Column B': [2, np.nan, 31],
    'Column C': [np.nan, np.nan, 100]
})

In [ ]:
df2

   Column A  Column B  Column C
0       1.0       2.0       NaN
1       NaN       NaN       NaN
2      30.0      31.0     100.0

In [ ]:
df.dropna(how='all')

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [ ]:
df.dropna(how='any') #default behavior

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [ ]:
#you can use the thres() parameter to indicate the (min or max)
#of non-null values for the row/column to be kept

In [ ]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [ ]:
df.dropna(thresh=3) #following indexing excluding 3, so that means the actual count it 2

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34

In [ ]:
df.dropna(thresh=3, axis='columns')

   Column B  Column C  Column D
0       2.0       NaN         5
1       8.0       9.0         8
2      31.0      32.0        34
3       NaN     100.0       110

Filling null values

In [ ]:
s

0    1.0
1    2.0
2    NaN
3    NaN
4    4.0
dtype: float64

In [ ]:
s.fillna(0)

0    1.0
1    2.0
2    0.0
3    0.0
4    4.0
dtype: float64

In [ ]:
s.fillna(s.mean())

0    1.000000
1    2.000000
2    2.333333
3    2.333333
4    4.000000
dtype: float64

Filling nulls with contiguous (close) values

In [ ]:
s.fillna(method='ffill') #ffill for forward fill

0    1.0
1    2.0
2    2.0
3    2.0
4    4.0
dtype: float64

In [ ]:
s.fillna(method='bfill') #bfill for backward fill

0    1.0
1    2.0
2    4.0
3    4.0
4    4.0
dtype: float64

In [ ]:
#let's use this technique on the Series

In [ ]:
pd.Series([np.nan, 3, np.nan, 9]).fillna(method='ffill')

0    NaN
1    3.0
2    3.0
3    9.0
dtype: float64

In [ ]:
#Didn't fill the first value because it has no value before it
#that can be used to conduct the forward fill

In [ ]:
pd.Series([np.nan, 3, np.nan, 9]).fillna(method='bfill')

0    3.0
1    3.0
2    9.0
3    9.0
dtype: float64

Filling null values on DataFrame

In [ ]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [ ]:
df.fillna({'Column A': 0, 'Column B': 99, 'Column C': df['Column D'].mean()})

   Column A  Column B  Column C  Column D
0       1.0       2.0     39.25         5
1       0.0       8.0      9.00         8
2      30.0      31.0     32.00        34
3       0.0      99.0    100.00       110

In [ ]:
df.fillna(method='ffill', axis=0)

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       1.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      30.0      31.0     100.0       110

In [ ]:
df.fillna(method='ffill', axis=1)

   Column A  Column B  Column C  Column D
0       1.0       2.0       2.0       5.0
1       NaN       8.0       9.0       8.0
2      30.0      31.0      32.0      34.0
3       NaN       NaN     100.0     110.0

Checking if there are NAs

In [ ]:
#Example 1: Checking the length

In [ ]:
s.dropna().count()

3

In [ ]:
missing_values = len(s.dropna()) != len(s)
missing_values

True

In [ ]:
len(s)

5

In [ ]:
s

0    1.0
1    2.0
2    NaN
3    NaN
4    4.0
dtype: float64

In [ ]:
s.count() #this will not count the NaN values

3

In [ ]:
missing_values = s.count() != len(s)
missing_values

True

In [ ]:
pd.Series([True, False, False]).any()

True

In [ ]:
pd.Series([True, False, False]).all()

False

In [ ]:
pd.Series([True, True, True]).all()

True

In [ ]:
s.isnull()

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [ ]:
pd.Series([1, np.nan]).isnull().any()

True

In [ ]:
pd.Series([1, 2]).isnull().any()

False

In [ ]:
pd.Series([np.nan, np.nan]).isnull().all()
#telling us that isnull() in this series has all() values as null

True

In [ ]:
s.isnull().any()

True

In [ ]:
s.isnull().values

array([False, False,  True,  True, False])

In [ ]:
s.isnull().values.any()

True